---
title: Matt Rothenberg | Work
---
<div class="ph3 white">
	<div class="mw8 center">
		<header>
			<h4 class="ttu tracked o-50 mb2">Work</h4>
			<h1 class="f3 f2-l fw4 w-100 w-80-l mt0 lh-title">A collection of my favorite work. Please reach out if you're interested in learning more about a particular project</h1>
		</header>
		<section>
			<div class="flex flex-wrap">
				<div class="w-100">
          <h2 class="mb2 f4 f3-l">Product Design, Development, &amp; Prototyping <span class="yellow">*</span></h2>
          <p class="lh-copy asterisked relative f4 mt0">My Product (UI/UX) work is mostly under NDA, but I would love to talk to you about my deep experience in: Generative User Research, Design Thinking, and Living Style Guides &amp; Design Systems</p>
          <div class="flex flex-wrap">
            <% data.work.work.product.each do |el| %>
              <div class="w-100 w-33-l mb3">
                <h3 class="mb2 f4 yellow">
                  <a class="link dim color-inherit" href="<%= el.url %>" target="_blank">
                    <%= el.name %>
                  </a>
                </h3>
                <p class="lh-copy mv0 f4 w-90-l">
                  <%= el.desc %>
                </p>
              </div>
            <% end %>
          </div>
				</div>
			</div>
		</section>
    <hr class="o-50">
    <section>
			<div class="flex flex-wrap">
				<div class="w-100">
          <h2 class="mb2 f4 f3-l">Open Source</h2>
          <div class="flex flex-wrap">
            <% data.work.work.oss.each do |el| %>
              <div class="w-100 w-33-l mb3 mb4-l">
                <h3 class="mb2 f4 yellow">
                  <a class="link dim color-inherit" href="<%= el.url %>" target="_blank">
                    <%= el.name %>
                  </a>
                </h3>
                <p class="lh-copy mv0 f4 w-90-l">
                  <%= el.desc %>
                </p>
              </div>
            <% end %>
          </div>
				</div>
			</div>
		</section>
    <hr class="o-50">
    <section>
			<div class="flex flex-wrap">
				<div class="w-100">
          <h2 class="mb2 f4 f3-l">Visual / Front-End Development</h2>
          <div class="flex flex-wrap">
            <% data.work.work.frontend.each do |el| %>
              <div class="w-100 w-33-l mb3">
                <h3 class="mb2 f4 yellow">
                  <a class="link dim color-inherit" href="<%= el.url %>" target="_blank">
                    <%= el.name %>
                  </a>
                </h3>
                <p class="lh-copy mv0 f4 w-90-l">
                  <%= el.desc %>
                </p>
              </div>
            <% end %>
          </div>
				</div>
			</div>
		</section>
    <hr class="o-50">
    <section>
			<div class="flex flex-wrap">
				<div class="w-100">
          <h2 class="mb4 f4 f3-l">Visual Design</h2>
          <div class="flex flex-wrap nl3 nr3">
            <div class="w-100 w-50-l mb4 ph3">
              <a class="gallery-link link db ba b--white-30 pointer hover-bg-white-20 bg-animate" data-gallery="animation">
                <div class="pen pa3">
                  <h5 class="ttu tracked o-50 mt0 mb3">Image Gallery</h5>
                  <h3 class="mt0 mb2 f4 yellow">Animation</h3>
                  <p class="f4 mv0 measure">An assortment of Javascript powered animations</p>
                </div>
              </a>
            </div>
            <div class="w-100 w-50-l mb4 ph3">
              <a class="gallery-link link db ba b--white-30 pointer hover-bg-white-20 bg-animate" data-gallery="logos">
                <div class="pen pa3">
                  <h5 class="ttu tracked o-50 mt0 mb3">Image Gallery</h5>
                  <h3 class="mt0 mb2 f4 yellow">Logo Design</h3>
                  <p class="f4 mv0 measure">Various logos and identities from over the years</p>
                </div>
              </a>
            </div>
            <div class="w-100 w-50-l mb4 ph3">
              <a class="gallery-link link db ba b--white-30 pointer hover-bg-white-20 bg-animate" data-gallery="autolean">
                <div class="pen pa3">
                  <h5 class="ttu tracked o-50 mt0 mb3">Image Gallery</h5>
                  <h3 class="mt0 mb2 f4 yellow">Autolean Iconography</h3>
                  <p class="f4 mv0 measure">(throwback) iOS icons for Autolean's iOS apps </p>
                </div>
              </a>
            </div>
            <div class="w-100 w-50-l mb4 ph3">
              <a class="gallery-link link db ba b--white-30 pointer hover-bg-white-20 bg-animate" data-gallery="abstract">
                <div class="pen pa3">
                  <h5 class="ttu tracked o-50 mt0 mb3">Image Gallery</h5>
                  <h3 class="mt0 mb2 f4 yellow">Abstract</h3>
                  <p class="f4 mv0 measure">Abstract pieces made in Cinema 4D</p>
                </div>
              </a>
            </div>
          </div>
				</div>
			</div>
		</section>
	</div>
</div>

<%= partial 'photoswipe' %>